<?xml version="1.0" encoding="utf-8"?>
<launch>

  <include file="$(find perception)/launch/primesense.launch" />

  <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
    <arg name="rviz_config" value="$(find grasping)/config/moveit.rviz" />
    <arg name="electric_gripper" value="true" />
  </include>

  <node pkg="grasping" type="init_scene_geometry.py" name="scene_geometry" />

</launch>
